    $rootScope.replace = function (link) {
            var str = [".red-50{background:#ffebee;}"
                , ".red-100{background:#ffcdd2;}"
                , ".red-200{background:#ef9a9a;}"
                , ".red-300{background:#e57373;}"
                , ".red-400{background:#ef5350;}"
                , ".red-500{background:#f44336;}"
                , ".red-600{background:#e53935;}"
                , ".red-700{background:#d32f2f;}"
                , ".red-800{background:#c62828;}"
                , ".red-900{background:#b71c1c;}"
                , ".red-A100{background:#ff8a80;}"
                , ".red-A200{background:#ff5252;}"
                , ".red-A400{background:#ff1744;}"
                , ".red-A700{background:#d50000;}"
                , ".red{background:#f44336;}"
                , ".pink-50{background:#fce4ec;}"
                , ".pink-100{background:#f8bbd0;}"
                , ".pink-200{background:#f48fb1;}"
                , ".pink-300{background:#f06292;}"
                , ".pink-400{background:#ec407a;}"
                , ".pink-500{background:#e91e63;}"
                , ".pink-600{background:#d81b60;}"
                , ".pink-700{background:#c2185b;}"
                , ".pink-800{background:#ad1457;}"
                , ".pink-900{background:#880e4f;}"
                , ".pink-A100{background:#ff80ab;}"
                , ".pink-A200{background:#ff4081;}"
                , ".pink-A400{background:#f50057;}"
                , ".pink-A700{background:#c51162;}"
                , ".pink{background:#e91e63;}"
                , ".purple-50{background:#f3e5f5;}"
                , ".purple-100{background:#e1bee7;}"
                , ".purple-200{background:#ce93d8;}"
                , ".purple-300{background:#ba68c8;}"
                , ".purple-400{background:#ab47bc;}"
                , ".purple-500{background:#9c27b0;}"
                , ".purple-600{background:#8e24aa;}"
                , ".purple-700{background:#7b1fa2;}"
                , ".purple-800{background:#6a1b9a;}"
                , ".purple-900{background:#4a148c;}"
                , ".purple-A100{background:#ea80fc;}"
                , ".purple-A200{background:#e040fb;}"
                , ".purple-A400{background:#d500f9;}"
                , ".purple-A700{background:#aa00ff;}"
                , ".purple{background:#9c27b0;}"
                , ".deep-purple-50{background:#ede7f6;}"
                , ".deep-purple-100{background:#d1c4e9;}"
                , ".deep-purple-200{background:#b39ddb;}"
                , ".deep-purple-300{background:#9575cd;}"
                , ".deep-purple-400{background:#7e57c2;}"
                , ".deep-purple-500{background:#673ab7;}"
                , ".deep-purple-600{background:#5e35b1;}"
                , ".deep-purple-700{background:#512da8;}"
                , ".deep-purple-800{background:#4527a0;}"
                , ".deep-purple-900{background:#311b92;}"
                , ".deep-purple-A100{background:#b388ff;}"
                , ".deep-purple-A200{background:#7c4dff;}"
                , ".deep-purple-A400{background:#651fff;}"
                , ".deep-purple-A700{background:#6200ea;}"
                , ".deep-purple{background:#673ab7;}"
                , ".indigo-50{background:#e8eaf6;}"
                , ".indigo-100{background:#c5cae9;}"
                , ".indigo-200{background:#9fa8da;}"
                , ".indigo-300{background:#7986cb;}"
                , ".indigo-400{background:#5c6bc0;}"
                , ".indigo-500{background:#3f51b5;}"
                , ".indigo-600{background:#3949ab;}"
                , ".indigo-700{background:#303f9f;}"
                , ".indigo-800{background:#283593;}"
                , ".indigo-900{background:#1a237e;}"
                , ".indigo-A100{background:#8c9eff;}"
                , ".indigo-A200{background:#536dfe;}"
                , ".indigo-A400{background:#3d5afe;}"
                , ".indigo-A700{background:#304ffe;}"
                , ".indigo{background:#3f51b5;}"
                , ".blue-50{background:#e3f2fd;}"
                , ".blue-100{background:#bbdefb;}"
                , ".blue-200{background:#90caf9;}"
                , ".blue-300{background:#64b5f6;}"
                , ".blue-400{background:#42a5f5;}"
                , ".blue-500{background:#2196f3;}"
                , ".blue-600{background:#1e88e5;}"
                , ".blue-700{background:#1976d2;}"
                , ".blue-800{background:#1565c0;}"
                , ".blue-900{background:#0d47a1;}"
                , ".blue-A100{background:#82b1ff;}"
                , ".blue-A200{background:#448aff;}"
                , ".blue-A400{background:#2979ff;}"
                , ".blue-A700{background:#2962ff;}"
                , ".blue{background:#2196f3;}"
                , ".light-blue-50{background:#e1f5fe;}"
                , ".light-blue-100{background:#b3e5fc;}"
                , ".light-blue-200{background:#81d4fa;}"
                , ".light-blue-300{background:#4fc3f7;}"
                , ".light-blue-400{background:#29b6f6;}"
                , ".light-blue-500{background:#03a9f4;}"
                , ".light-blue-600{background:#039be5;}"
                , ".light-blue-700{background:#0288d1;}"
                , ".light-blue-800{background:#0277bd;}"
                , ".light-blue-900{background:#01579b;}"
                , ".light-blue-A100{background:#80d8ff;}"
                , ".light-blue-A200{background:#40c4ff;}"
                , ".light-blue-A400{background:#00b0ff;}"
                , ".light-blue-A700{background:#0091ea;}"
                , ".light-blue{background:#03a9f4;}"
                , ".cyan-50{background:#e0f7fa;}"
                , ".cyan-100{background:#b2ebf2;}"
                , ".cyan-200{background:#80deea;}"
                , ".cyan-300{background:#4dd0e1;}"
                , ".cyan-400{background:#26c6da;}"
                , ".cyan-500{background:#00bcd4;}"
                , ".cyan-600{background:#00acc1;}"
                , ".cyan-700{background:#0097a7;}"
                , ".cyan-800{background:#00838f;}"
                , ".cyan-900{background:#006064;}"
                , ".cyan-A100{background:#84ffff;}"
                , ".cyan-A200{background:#18ffff;}"
                , ".cyan-A400{background:#00e5ff;}"
                , ".cyan-A700{background:#00b8d4;}"
                , ".cyan{background:#00bcd4;}"
                , ".teal-50{background:#e0f2f1;}"
                , ".teal-100{background:#b2dfdb;}"
                , ".teal-200{background:#80cbc4;}"
                , ".teal-300{background:#4db6ac;}"
                , ".teal-400{background:#26a69a;}"
                , ".teal-500{background:#009688;}"
                , ".teal-600{background:#00897b;}"
                , ".teal-700{background:#00796b;}"
                , ".teal-800{background:#00695c;}"
                , ".teal-900{background:#004d40;}"
                , ".teal-A100{background:#a7ffeb;}"
                , ".teal-A200{background:#64ffda;}"
                , ".teal-A400{background:#1de9b6;}"
                , ".teal-A700{background:#00bfa5;}"
                , ".teal{background:#009688;}"
                , ".green-50{background:#e8f5e9;}"
                , ".green-100{background:#c8e6c9;}"
                , ".green-200{background:#a5d6a7;}"
                , ".green-300{background:#81c784;}"
                , ".green-400{background:#66bb6a;}"
                , ".green-500{background:#4caf50;}"
                , ".green-600{background:#43a047;}"
                , ".green-700{background:#388e3c;}"
                , ".green-800{background:#2e7d32;}"
                , ".green-900{background:#1b5e20;}"
                , ".green-A100{background:#b9f6ca;}"
                , ".green-A200{background:#69f0ae;}"
                , ".green-A400{background:#00e676;}"
                , ".green-A700{background:#00c853;}"
                , ".green{background:#4caf50;}"
                , ".light-green-50{background:#f1f8e9;}"
                , ".light-green-100{background:#dcedc8;}"
                , ".light-green-200{background:#c5e1a5;}"
                , ".light-green-300{background:#aed581;}"
                , ".light-green-400{background:#9ccc65;}"
                , ".light-green-500{background:#8bc34a;}"
                , ".light-green-600{background:#7cb342;}"
                , ".light-green-700{background:#689f38;}"
                , ".light-green-800{background:#558b2f;}"
                , ".light-green-900{background:#33691e;}"
                , ".light-green-A100{background:#ccff90;}"
                , ".light-green-A200{background:#b2ff59;}"
                , ".light-green-A400{background:#76ff03;}"
                , ".light-green-A700{background:#64dd17;}"
                , ".light-green{background:#8bc34a;}"
                , ".lime-50{background:#f9fbe7;}"
                , ".lime-100{background:#f0f4c3;}"
                , ".lime-200{background:#e6ee9c;}"
                , ".lime-300{background:#dce775;}"
                , ".lime-400{background:#d4e157;}"
                , ".lime-500{background:#cddc39;}"
                , ".lime-600{background:#c0ca33;}"
                , ".lime-700{background:#afb42b;}"
                , ".lime-800{background:#9e9d24;}"
                , ".lime-900{background:#827717;}"
                , ".lime-A100{background:#f4ff81;}"
                , ".lime-A200{background:#eeff41;}"
                , ".lime-A400{background:#c6ff00;}"
                , ".lime-A700{background:#aeea00;}"
                , ".lime{background:#cddc39;}"
                , ".yellow-50{background:#fffde7;}"
                , ".yellow-100{background:#fff9c4;}"
                , ".yellow-200{background:#fff59d;}"
                , ".yellow-300{background:#fff176;}"
                , ".yellow-400{background:#ffee58;}"
                , ".yellow-500{background:#ffeb3b;}"
                , ".yellow-600{background:#fdd835;}"
                , ".yellow-700{background:#fbc02d;}"
                , ".yellow-800{background:#f9a825;}"
                , ".yellow-900{background:#f57f17;}"
                , ".yellow-A100{background:#ffff8d;}"
                , ".yellow-A200{background:#ffff00;}"
                , ".yellow-A400{background:#ffea00;}"
                , ".yellow-A700{background:#ffd600;}"
                , ".yellow{background:#ffeb3b;}"
                , ".amber-50{background:#fff8e1;}"
                , ".amber-100{background:#ffecb3;}"
                , ".amber-200{background:#ffe082;}"
                , ".amber-300{background:#ffd54f;}"
                , ".amber-400{background:#ffca28;}"
                , ".amber-500{background:#ffc107;}"
                , ".amber-600{background:#ffb300;}"
                , ".amber-700{background:#ffa000;}"
                , ".amber-800{background:#ff8f00;}"
                , ".amber-900{background:#ff6f00;}"
                , ".amber-A100{background:#ffe57f;}"
                , ".amber-A200{background:#ffd740;}"
                , ".amber-A400{background:#ffc400;}"
                , ".amber-A700{background:#ffab00;}"
                , ".amber{background:#ffc107;}"
                , ".orange-50{background:#fff3e0;}"
                , ".orange-100{background:#ffe0b2;}"
                , ".orange-200{background:#ffcc80;}"
                , ".orange-300{background:#ffb74d;}"
                , ".orange-400{background:#ffa726;}"
                , ".orange-500{background:#ff9800;}"
                , ".orange-600{background:#fb8c00;}"
                , ".orange-700{background:#f57c00;}"
                , ".orange-800{background:#ef6c00;}"
                , ".orange-900{background:#e65100;}"
                , ".orange-A100{background:#ffd180;}"
                , ".orange-A200{background:#ffab40;}"
                , ".orange-A400{background:#ff9100;}"
                , ".orange-A700{background:#ff6d00;}"
                , ".orange{background:#ff9800;}"
                , ".deep-orange-50{background:#fbe9e7;}"
                , ".deep-orange-100{background:#ffccbc;}"
                , ".deep-orange-200{background:#ffab91;}"
                , ".deep-orange-300{background:#ff8a65;}"
                , ".deep-orange-400{background:#ff7043;}"
                , ".deep-orange-500{background:#ff5722;}"
                , ".deep-orange-600{background:#f4511e;}"
                , ".deep-orange-700{background:#e64a19;}"
                , ".deep-orange-800{background:#d84315;}"
                , ".deep-orange-900{background:#bf360c;}"
                , ".deep-orange-A100{background:#ff9e80;}"
                , ".deep-orange-A200{background:#ff6e40;}"
                , ".deep-orange-A400{background:#ff3d00;}"
                , ".deep-orange-A700{background:#dd2c00;}"
                , ".deep-orange{background:#ff5722;}"
                , ".brown-50{background:#efebe9;}"
                , ".brown-100{background:#d7ccc8;}"
                , ".brown-200{background:#bcaaa4;}"
                , ".brown-300{background:#a1887f;}"
                , ".brown-400{background:#8d6e63;}"
                , ".brown-500{background:#795548;}"
                , ".brown-600{background:#6d4c41;}"
                , ".brown-700{background:#5d4037;}"
                , ".brown-800{background:#4e342e;}"
                , ".brown-900{background:#3e2723;}"
                , ".brown-A100{background:#d7ccc8;}"
                , ".brown-A200{background:#bcaaa4;}"
                , ".brown-A400{background:#8d6e63;}"
                , ".brown-A700{background:#5d4037;}"
                , ".brown{background:#795548;}"
                , ".grey-50{background:#fafafa;}"
                , ".grey-100{background:#f5f5f5;}"
                , ".grey-200{background:#eeeeee;}"
                , ".grey-300{background:#e0e0e0;}"
                , ".grey-400{background:#bdbdbd;}"
                , ".grey-500{background:#9e9e9e;}"
                , ".grey-600{background:#757575;}"
                , ".grey-700{background:#616161;}"
                , ".grey-800{background:#424242;}"
                , ".grey-900{background:#212121;}"
                , ".grey-A100{background:#f5f5f5;}"
                , ".grey-A200{background:#eeeeee;}"
                , ".grey-A400{background:#bdbdbd;}"
                , ".grey-A700{background:#616161;}"
                , ".grey{background:#9e9e9e;}"
                , ".blue-grey-50{background:#eceff1;}"
                , ".blue-grey-100{background:#cfd8dc;}"
                , ".blue-grey-200{background:#b0bec5;}"
                , ".blue-grey-300{background:#90a4ae;}"
                , ".blue-grey-400{background:#78909c;}"
                , ".blue-grey-500{background:#607d8b;}"
                , ".blue-grey-600{background:#546e7a;}"
                , ".blue-grey-700{background:#455a64;}"
                , ".blue-grey-800{background:#37474f;}"
                , ".blue-grey-900{background:#263238;}"
                , ".blue-grey-A100{background:#cfd8dc;}"
                , ".blue-grey-A200{background:#b0bec5;}"
                , ".blue-grey-A400{background:#78909c;}"
                , ".blue-grey-A700{background:#455a64;}"
                , ".blue-grey{background:#607d8b;}"
                , ".black{background:#000000;}"
                , ".white{background:#ffffff;}"];

            angular.forEach(str, function (value, key) {
                var myRegexp = /(#([a-zA-Z0-9]{2})([a-zA-Z0-9]{2})([a-zA-Z0-9]{2}))/;
                var match = myRegexp.exec(value);
                str[key] = str[key].replace(match[1], " rgba(" + parseInt(match[2], 16) + "," + parseInt(match[3], 16) + "," + parseInt(match[4], 16) + "," + "1" + ")");
            });

            console.log(JSON.stringify(str));

            // = parseInt(hexString, 16);
        };