.article_group{}
.article_group .article_title{}
.article_group .article_title h1{
    font-size: 4em;
}
.article_group .article_title h1 small{}
.article_group .article_title h4{
    font-size: 1.5em;
}
.article_group .article_title h5 small{}
.article_group .article_image{}
.article_group .article_image div{}
.article_group .article_image div image{}
.article_group .article_paragraph{
    font-size: 1.5em;
}
.article_group .article_paragraph div{}
.article_group .article_paragraph div p{}
.article_group .article_paragraph div ul{}
.article_group .article_paragraph div ul li{}
.article_group .article_tags{
    text-align: center;
    font-size: 1.2em;
}
.article_group .article_tags p{}
.article_group .article_tags p span{}
.article_group .article_tags p span a{}
.article_group .article_buttons{
    font-size: 1.2em;text-align: center;
}
.article_group .article_buttons div{
}
.article_group .article_buttons div a{ cursor: pointer;
}
.article_group .article_buttons div a:nth-child(1){left: 0;}
.article_group .article_buttons div a:nth-child(2){
}
.article_group .article_buttons div a:nth-child(3){ }
.article_group .article_buttons div a:nth-child(4){}
.article_group .hr{border-color: rgba(51,51,51,0.1);margin: 10px auto;}
.article_group_container .hrEnd{border-color: rgba(51,51,51,0.1);margin: 10px auto;}