<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">



                <div class="row">
                    <div class="col-md-12">
                        <zackry-form-group-toggle zchecked="($root.Links.SecretVisibility)" zclass="col-md-2 col-sm-2 col-xs-2" ztextoff="No" ztexton="Yes" ztype="toggle--push toggle--push--glow" zname="secretvisibility" zid="secretvisibility" zonclick="$root.Links.TuggleSecretVisibility()" zicon="fa-user-secret"></zackry-form-group-toggle>
                        <zackry_form_group_input ztextclass="{{$root.Colors.Text}}" zisempty="true" zclass="col-md-3 col-sm-3 col-xs-3" ztype="text" zname="filterlinks" zid="filterlinks" zlabel="Filter your links:" zmodel="linkSearch"></zackry_form_group_input>


                        <div class="simple-icon-button-contaier col-md-6 col-sm-6 col-xs-6">
                            <div class="simple-icon-button-group">
                                <a ng-click="$root.HeaderButtons.MergeWindows()" title="Merge Windows" class="simple-icon-button-action-button shadow simple-icon-button-animate simple-icon-button-grey text-info"><i class="fa fa-compress"></i></a>
                                <a ng-click="$root.CaptureScreenshot.Capture()" title="Screen Shot" class="simple-icon-button-action-button shadow simple-icon-button-animate simple-icon-button-grey text-info"><i class="fa fa-camera-retro"></i></a>
                                <!--<a ng-click="$root.DownloadManager.Capture()" title="Download Manager" class="simple-icon-button-action-button shadow simple-icon-button-animate simple-icon-button-grey text-info"><i class="fa fa-download"></i></a>-->
                                <a ng-click="$root.InsertCSS.Get()" title="Insert CSS" class="simple-icon-button-action-button shadow simple-icon-button-animate simple-icon-button-grey text-info"><i class="fa fa-paint-brush"></i></a>
                            </div>
                            <zackry-clear-floats></zackry-clear-floats>
                        </div>


                    </div>
                </div>

                <div class="row" ng-if="($root && $root.Links.Links && $root.Links.Links.length > 0)">
                    <div class="col-md-1 col-sm-1 col-xs-1 width70px" ng-repeat="link in $root.Links.Links | orderBy: ['-Favorite','-Count'] | filter: linkSearch track by $index" ng-show="($root.Links.ShowSecret(link.Secret))">
                        <figure class="snip1084 black">
                            <img ng-src="{{$root.Utils.ToBase64URL(link.Image)}}" alt="sample43" />
                            <figcaption class="hide">
                                <h2><span>{{link.Title}}</span></h2>
                                <p>{{link.URL}}</p>
                            </figcaption>
                            <a href="{{link.URL}}" title="{{link.Title + ': ' + link.URL}}" data-ng-click="$root.Links.Counter(link)"></a>
                        </figure>
                    </div>
                </div>

                <zackry-clear-floats></zackry-clear-floats>
                <hr class="form-horizontal" />

                <div class="row" ng-show="($root.ChromeApps.Visibility())">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-4 height150px cursor-pointer {{$root.Colors.Text}}" ng-repeat="app in $root.ChromeApps.AppList" title="{{app.Description}}">
                                <div class="app-list-group">
                                    <div class="app-list-group-item" ng-click="$root.ChromeApps.LaunchApp(app.Id)">
                                        <div class="app-row-picture">
                                            <img class="circle" ng-src="{{app.Icons}}">
                                        </div>
                                        <div class="app-row-content">
                                            <h4 class="list-group-item-heading {{$root.Colors.Text}}">{{app.Name}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <zackry-clear-floats></zackry-clear-floats>
                <hr class="form-horizontal" />

                <form>
                    <div class="row">
                        <div class="col-md-12 marginspace">
                            <zackry_form_group_select ztextclass="{{$root.Colors.Text}}" zisempty="true" zclass="col-md-12" zname="since" zid="since" zlabel="Clear Since" zchoices="$root.BrowsingData.TimeSelect" zmodel="$root.BrowsingData.TimeSelected"></zackry_form_group_select>
                        </div>

                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearHistory($root.BrowsingData.TimeSelected,true)" zid="clearhistory" zname="clearhistory" zlabel="History" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearAppcache($root.BrowsingData.TimeSelected,true)" zid="clearappcache" zname="clearappcache" zlabel="App Cache" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearCache($root.BrowsingData.TimeSelected,true)" zid="clearcache" zname="clearcache" zlabel="Cache" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearCookies($root.BrowsingData.TimeSelected,true)" zid="clearcookies" zname="clearcookies" zlabel="Cookies" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearDownloads($root.BrowsingData.TimeSelected,true)" zid="cleardownloads" zname="cleardownloads" zlabel="Downloads" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearFileSystems($root.BrowsingData.TimeSelected,true)" zid="clearfilesystems" zname="clearfilesystems" zlabel="File Systems" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearFormData($root.BrowsingData.TimeSelected,true)" zid="clearformdata" zname="clearformdata" zlabel="Form Data" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearIndexedDB($root.BrowsingData.TimeSelected,true)" zid="clearindexeddb" zname="clearindexeddb" zlabel="Indexed DB" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearLocalStorage($root.BrowsingData.TimeSelected,true)" zid="clearlocalstorage" zname="clearlocalstorage" zlabel="Local Storage" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearPluginData($root.BrowsingData.TimeSelected,true)" zid="clearplugindata" zname="clearplugindata" zlabel="Plugin Data" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearPasswords($root.BrowsingData.TimeSelected,true)" zid="clearpasswords" zname="clearpasswords" zlabel="Passwords" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>
                        <zackry-buttons zdisabled="!$root.Check.IsStringFilled($root.BrowsingData.TimeSelected)" zonclick="$root.BrowsingData.ClearWebSQL($root.BrowsingData.TimeSelected,true)" zid="clearwebsql" zname="clearwebsql" zlabel="Web SQL" zclass="col-md-2 col-sm-2 col-xs-2 clear-actionbuttons-force-font" zisempty="false" zisfocused="false" ztype="btn-danger"></zackry-buttons>

                    </div>
                </form>

                <zackry-clear-floats></zackry-clear-floats>
                <hr class="form-horizontal" />

                    <div class="row">
                        <zackry_panel paneltitle="Basic Information" zclass="{{$root.Colors.Background + ' ' + $root.Colors.Opacity}}" ztextclass="{{$root.Colors.Text}}">
                            <form class="col-md-12 usersadd percntage_form remove_input_padding" enctype="multipart/form-data">
                                <zackry_form_group_input ztextclass="{{$root.Colors.Text}}" zclass="col-md-4 col-sm-4 col-xs-4" zisempty="true" ztype="text" zname="title" zid="title" zlabel="Title" zmodel="$root.BlockedUrls.BlockedUrl.Title"></zackry_form_group_input>
                                <zackry_form_group_input ztextclass="{{$root.Colors.Text}}" zclass="col-md-4 col-sm-4 col-xs-4" zisempty="true" ztype="text" zname="url" zid="url" zlabel="URL" zmodel="$root.BlockedUrls.BlockedUrl.Value"></zackry_form_group_input>
                                <zackry-form-group-select zisempty="true" ztextclass="{{$root.Colors.Text}}" zclass="col-md-4 col-sm-4 col-xs-4" zname="whole" zid="whole" zlabel="Whole" zchoices="$root.Settings.Select.YesNo" zmodel="$root.BlockedUrls.BlockedUrl.Whole"></zackry-form-group-select>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <zackry-buttons zdisabled="($root.BlockedUrls.IsEmpty())" zclass="col-md-4" zisempty="false" zisfocused="false" zid="addlink" zname="addlink" zlabel="Add Link" ztype="btn-default" zonclick="$root.BlockedUrls.Save()"></zackry-buttons>
                                    </div>
                                </div>
                            </form>
                        </zackry_panel>
                    </div>
                    <div class="row">
                        <zackry_panel paneltitle="Blocked Urls" zclass="{{$root.Colors.Background + ' ' + $root.Colors.Opacity}}" ztextclass="{{$root.Colors.Text}}">
                            <div class="row">
                                <zackry_form_group_input ztextclass="{{$root.Colors.Text}}" zisempty="true" zclass="col-md-3" ztype="text" zname="blocksearch" zid="blocksearch" zlabel="Filter your Blocked URLs:" zmodel="blockSearch"></zackry_form_group_input>
                            </div>
                            <div class="row">
                                <ul class="{{$root.Colors.Text}}">
                                    <li class="col-md-6 col-sm-3 col-xs-3 downloads-li {{$root.Colors.Text}}" ng-repeat="blockedUrl in $root.BlockedUrls.BlockedUrlsArray  | orderBy: ['-Title'] | filter: blockSearch track by $index">
                                        <div class="recent-post clearfix">
                                            <h3 class="post-title">
                                                <a class="cursor-pointer {{$root.Colors.Text}}">{{blockedUrl.Title}}</a>
                                            </h3>
                                            <p>{{blockedUrl.Value}}</p>
                                            <button class="btn btn-danger remove-button fix-btn-height nopadding nomargin text-right" type="button" ng-click="$root.BlockedUrls.Remove(blockedUrl)">
                                                <i class="fa fa-times text-danger"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </zackry_panel>
                    </div>


                <zackry-clear-floats></zackry-clear-floats>
                <hr class="form-horizontal" />
                 

                <div class="row" ng-show="($root.DownloadManager.Downloads.length > 0)">
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="download in $root.DownloadManager.Downloads track by $index">
                        <ul class="breadcrumb" style="margin-bottom: 5px;">
                            <li class="active"><a ng-click="$root.DownloadManager.Open(download.Id)" class="cursor-pointer">{{download.Filename}} {{$root.DownloadManager.DownloadProgress(download.BytesReceived,download.TotalBytes)}}</a></li>
                        </ul>
                    </div>
                </div>


                <zackry-clear-floats></zackry-clear-floats>
                <hr class="form-horizontal" />

                <div class="row" ng-show="($root.History.Histories.length > 0)">
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="history in $root.History.Histories | orderBy: ['-VisitCount']">
                        <ul class="breadcrumb" style="margin-bottom: 5px;">
                            <li class="active"><a ng-click="$root.History.HistoryClick(history.Value)">{{history.Title}}</a></li>
                        </ul>
                    </div>
                </div>


                <zackry-clear-floats></zackry-clear-floats>
                <hr class="form-horizontal" />


            </div>
        </div>
    </div>
</div>
