<div class="container-fluid">
    <div class="height-space"></div>
    <div class="container">
        <div class="row">

            <zackry_panel paneltitle="My Links" zclass="{{$root.Colors.Background + ' ' + $root.Colors.Opacity}}" ztextclass="{{$root.Colors.Text}}">
                <div class="row">
                    <div class="col-md-12">
                        <zackry_form_group_input ztextclass="{{$root.Colors.Text}}" zisempty="true" zclass="col-md-3" ztype="text" zname="filterlinks" zid="filterlinks" zlabel="Filter your links:" zhelp="Filter your links" zmodel="linkSearch"></zackry_form_group_input>
                        <zackry-buttons zclass="col-md-3 col-sm-6 col-xs-6" zisempty="false" zisfocused="false" zid="refreshlinks" zlabel="Refresh Links <i class='fa fa-refresh' aria-hidden='true'></i>" zname="refreshlinks" ztype="btn-default" zonclick="$root.RefreshData()"></zackry-buttons>
                        <!--<zackry-buttons zclass="col-md-3" zisempty="false" zisfocused="false" zid="refreshlinks" zlabel="replace" zname="replace" ztype="btn-default" zhelp="replace" zonclick="$root.replace()" ></zackry-buttons>-->
                        <zackry-form-group-toggle zchecked="($root.Links.SecretVisibility)" zclass="col-md-3 col-sm-3 col-xs-3" ztextoff="No" ztexton="Yes" ztype="toggle--push toggle--push--glow" zname="secretvisibility" zid="secretvisibility" zhelp="Toggle this" zonclick="$root.Links.TuggleSecretVisibility()" zicon="fa-user-secret"></zackry-form-group-toggle>
                    </div>
                </div>

                <div class="row" ng-if="($root && $root.Links.Links && $root.Links.Links.length > 0)">
                    <div class="{{$root.Settings.Settings.Visibility.LinksSizeExtraSmall + ' ' + $root.Settings.Settings.Visibility.LinksSizeSmall + ' ' + $root.Settings.Settings.Visibility.LinksSizeMedium}}" ng-repeat="link in $root.Links.Links | orderBy: ['-Favorite','-Count'] | filter: linkSearch track by $index" ng-show="($root.Links.ShowSecret(link.Secret))">
                        <figure class="snip1084 black">
                            <img ng-src="{{$root.Utils.ToBase64URL(link.Image)}}" alt="sample43" />
                            <figcaption class="hide">
                                <h2><span>{{link.Title}}</span></h2>
                                <p>{{link.URL}}</p>
                            </figcaption>
                            <a href="{{link.URL}}" title="{{link.Title + ': ' + link.URL}}" data-ng-click="$root.Links.Counter(link)"></a>
                        </figure>
                    </div>
                </div>
            </zackry_panel>
        </div>
    </div>
</div>