<div class="form-group form-group-lg label-floating {{zclass}}"  ng-class="{'is-focused': zisfocused, 'is-empty': (zisempty == true || zisempty == 'true') && (zmodel == null || zmodel == undefined)}" ng-show="(zshow != undefined ? zshow : true)">
    <label for="{{zid}}" class="control-label  {{ztextclass}}" ng-bind-html="$root.Utils.SCE(zlabel)"></label>
    <input base-sixty-four-input do-not-parse-if-oversize  class="form-control  {{ztextclass}}" name="{{zname}}"  id="{{zid}}"  type="file" ng-model="zmodel"   data-ng-click="zonClick()" ng-change="zonchange()" ng-keyup="zkeyup()"
           maxsize="{{zmaxsize}}" minsize="{{zminsize}}" maxnum="{{zmaxnum}}"
            minnum="{{zminnum}}" multiple  accept="{{zaccept}}" required />
    <input type="text" readonly="" class="form-control" placeholder="{{titles()}}">
    <!--<span class="input-group-btn input-group-sm">
        <button type="button" class="btn btn-fab btn-fab-mini">
            <i class="btn-fab fa-save"></i>
        </button>
    </span>-->

    <!--<span class="help-block  {{ztextclass}}" ng-bind-html="$root.Utils.SCE(zhelp)"></span>-->
</div>