<div ng-class="class ? class : 'form-group'">
   <div class="row">
       <div class="col-md-10">
           <div class="row">
               <label class="col-md-12 {{class}}" for="{{id}}" ng-bind-html="$root.Utils.SCE(type)"></label>
               <input  class="col-md-12" placeholder="{{name}}" id="{{id}}" name="{{id}}" type="{{formgroupinputtype}}"  value="{{formgroupinputvalue}}" class="validate" ng-model="formgroupinputmodel">
               <p  class="col-md-12 help-block"></p>
           </div>
       </div>
   </div>
</div>