<div>
    <zackry-modal-buttons zdatatoggle="{{zdatatoggle}}" zdatatarget="{{zdatatarget}}" zclass="{{zbtnclass}}" zisempty="false" zisfocused="false" zlabel="{{zlabel}}" zhelp="{{zhelp}}" ztype="{{ztype}}"></zackry-modal-buttons>
    <zackry-modals modalid="{{modalid}}" modaltitle="{{modaltitle}}" zclass="{{zclass}}" ztextclass="{{ztextclass}}">
        <p class="text-danger" ng-bind-html="$root.Utils.SCE(modalmessage)"></p>
        <zackry-buttons zclass="{{zbuttonclass}}" zisempty="false" zisfocused="false" zid="{{zbuttonid}}" zname="{{zbuttonname}}" zlabel="{{zbuttonlabel}}" zhelp="{{zbuttonhelp}}" ztype="{{zbuttontype}}" zonclick="zbuttononclick()" zdatadismiss="{{zbuttondatadismiss}}"></zackry-buttons>
    </zackry-modals>
</div>