<div class="heartLoaderContainer" ng-if="zif">
    <div class="innerContainer"></div>
    <div class="loadingLevelsLoader">
        <span>L</span>
        <span>O</span>
        <span>A</span>
        <span>D</span>
        <span>I</span>
        <span>N</span>
        <span>G</span>
        <div class="loadingLevelsLoaderCovers">
            <span>L</span>
            <span>O</span>
            <span>A</span>
            <span>D</span>
            <span>I</span>
            <span>N</span>
            <span>G</span>
        </div>
    </div>
</div>