<div class="modal fade" id="{{modalid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content blue-grey-900">
            <div class="modal-header">
                <button type="button" class="close {{ztextclass}}" data-dismiss="modal" aria-label="Close"><span class="{{ztextclass}}" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-bind="modaltitle"></h4>
            </div>
            <div class="modal-body" ng-transclude>
            </div>
            <div class="modal-footer">
                <zackry-simple-buttons zisempty="false" zisfocused="false" zid="close" zname="close" zlabel="Close" ztype="btn-default" zdatadismiss="modal"></zackry-simple-buttons>
            </div>
        </div>
    </div>
</div>