<div class="navbar navbar-default {{navclass}}">
    <h3 class="col-md-12 hide"><show-date-time-now></show-date-time-now>
    </h3>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnavbuttons">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <zackry-brand></zackry-brand>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" id="mainnavbuttons">
            <ul class="nav navbar-nav" ng-transclude>
            </ul>
        </div>
    </div>
</div>